<p style="color: green"><%= notice %></p>

<h1>Restaurants</h1>

    <div class="col-10 row justify-content-center" id="restaurants">
      <div class="col-12 row">
        <% @restaurants.each do |restaurant| %>
          <%= render restaurant %>
        <% end %>
      </div>
    <%= link_to "New restaurant", new_restaurant_path, class: "btn btn-primary col-3" %>
    <div>

